#maven
.target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

out/

# Gradel
.gradle/
build/

# IDEA
.idea/
*.ipr
*.iml
*.iws
*.xml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.class
