# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wizard-2.0\wizard-2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
